---
import DefaultLayout from "~/layouts/default.astro";
import Splash from "~/components/splash.astro";
import SectionRenderer from "~/components/section-renderer.astro";
import { getSubcontentByParentIdAndTemplateName } from "~/utils/dataFetching";
import "@fontsource/inter/variable.css";
import "~/styles/index.css";

const response = await getSubcontentByParentIdAndTemplateName(
  fetch,
  import.meta.env.PUBLIC_PAGE_CONTENT_ID,
  "Page"
);
interface Layout {
  ContentIDs: Array<String>;
}

const {Data, ContentID} = response.data[0];

const layout: Layout = Data.layout;
const homepageId = ContentID;

interface Section {
  ContentIDs: Array<String>;
}

const sections: Section = response.data[0].Data.sections;
const splashContentId = sections.ContentIDs[0];
---

<DefaultLayout layoutId={layout.ContentIDs[0]}>
  {splashContentId && <Splash contentId={sections.ContentIDs[0]} />}

  <div class="space-y-24 px-8 py-32" data-nimvio-content-id={homepageId}>
    {sections.ContentIDs.map((data) => <SectionRenderer contentId={data} />)}
  </div>
</DefaultLayout>
