---
import { Icon } from "astro-icon";
import { getContentById } from "~/utils/dataFetching";

const { contentId } = Astro.props;

const response = await getContentById(fetch, contentId);
const { title, description, icon } = response.data[0].Data;
const textDescription = description.replace(/<[^>]*>/g, '');
---

{
  (
    <li class="flex flex-col items-center gap-4 border border-default bg-offset p-6">
      <div class="h-16 w-16 rounded-full border-2 border-current p-3">
        <Icon name={icon} />
      </div>
      <p class="text-center font-extrabold text-xl">{title}</p>
      <p class="text-center text-offset text-sm">{textDescription}</p>
    </li>
  )
}
