---
import ShowcaseCard from "~/components/showcase-card.astro";
import { getContentById, getSubcontentByParentId } from "~/utils/dataFetching";

export interface Props {
  contentId: string;
}

const { contentId } = Astro.props;

const response = await getContentById(fetch, contentId);
const { description } = response.data[0].Data;

const items: { data: Array<any> } = await getSubcontentByParentId(
  fetch,
  contentId
);
---

<div class="max-w-6xl space-y-2">
  <div class="grid grid-cols-1 gap-4 md:grid-cols-2 lg:grid-cols-3">
    {items.data.length > 0 && items.data.map((item) => <ShowcaseCard item={item} />)}
  </div>
  <p class="text-right text-sm">
    <a class="text-primary" href={description}>
      ...and more &rarr;
    </a>
  </p>
</div>
